$themeColor: #435334;

@media screen and (min-width: 951px) {
  .container {
    // padding: 0rem 16rem;
    // max-width: 90%;
    // border: 2px solid red;
    section {
      margin: 6rem 9rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      line-height: 1.8rem;
      gap: 1.7rem;
      color: black;
      h2 {
        color: $themeColor;
      }
      .strong {
        text-align: center;
      }
      .list {
        width: 100%;
        ul {
          padding-left: 2rem;
          li:nth-child(1) {
            color: #4b8b0e;
          }
          li:nth-child(2) {
            color: #7f7d12;
          }
          li:nth-child(3) {
            color: #ae581b;
          }
        }
      }
      .imgShopAndSpace {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          object-fit: cover;
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0 0.5rem;
    section {
      margin: 6rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      line-height: 1.8rem;
      gap: 1.7rem;
      h2 {
        color: $themeColor;
      }
      .strong {
        text-align: center;
      }
      .list {
        width: 100%;
        ul {
          padding-left: 2rem;
          li:nth-child(1) {
            color: #4b8b0e;
          }
          li:nth-child(2) {
            color: #7f7d12;
          }
          li:nth-child(3) {
            color: #ae581b;
          }
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        // margin: 1rem 0rem;
      }
      .item:nth-child(1) {
        margin-bottom: 2rem;
      }
    }
  }
}
