.container {
  display: flex;
  align-items: center;
  object-fit: contain;
  flex-direction: column;

  /* border: 2px solid pink; */
}

.infoSection {
  padding: 1rem;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;

  /* border: 2px solid purple; */
}

.h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #ae581b;
}

.infoCircles {
  display: flex;
  /* position: relative; */
  flex-wrap: wrap;
  /* height: 100px; */
  margin-top: 2rem;

  justify-content: center;
  /* border: 2px solid red; */
}

.infoCardsChange {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  /* border: 2px solid black; */
}

.infoCard {
  display: flex;
}
.infoCardWordContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 1rem;
  /* border: 2px solid pink; */
}

.infoCardTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.infoCardContent {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0rem;
  line-height: 3rem;
  white-space: pre-line; /* 使 \n 有效 */
}

.infoCardImgContainer {
  flex: 1;
  padding: 1rem;
  width: 50vw;
  height: 30vw;
  /* border: 2px solid black; */
}

.infoCardImg {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.blogSection {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 1rem;
  margin-top: 10vh;
  width: 90%;
  height: 70vh;
  /* border: 2px solid black; */
}

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

  /* border: 2px solid white; */
}

.bigBlogContainer {
  flex: 1;
  display: flex;

  justify-content: flex-end;
  align-items: center;

  /* border: 2px solid blue; */
}

.smallBlogContainerAndButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0rem 2rem;
  position: relative;
}

.smallBlogContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;

  /* border: 2px solid green; */
}

.bigBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  /* border: 2px solid brown; */
}

.smallBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  flex: 1;
}

.bigBlogImg {
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  object-fit: cover;
  /* border: 2px solid brown; */
}

.bigBlogImg:hover {
  border: 6px solid #ffffff;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.smallBlogImg {
  max-width: 30vh;

  border-radius: 1rem;
}

.smallBlogImg:hover {
  border: 6px solid #ffffff;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.blogTitle {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.blogText {
  font-size: 1rem;
  text-align: center;
}
