.container {
  display: flex;
  align-items: center;
  object-fit: contain;
  flex-direction: column;
  width: 100%;

  /* border: 2px solid pink; */
}

@media screen and (min-width: 951px) {
  .infoSection {
    padding: 1rem;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* border: 2px solid purple; */
  }

  .h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #ae581b;
  }

  .infoCircles {
    display: flex;

    margin-top: 2rem;
    width: 100%;

    justify-content: center;
    /* border: 2px solid red; */
  }

  .infoCardsSection {
    /* padding: 1rem; */
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .blogSection {
    padding: 1rem 0rem;
    margin: 3rem 0rem;
    width: 90%;
    /* border: 2px solid black; */
  }
}

@media screen and (max-width: 950px) {
  .infoSection {
    padding: 1rem;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* border: 2px solid purple; */
  }
  .h3 {
    text-align: center;
    font-size: 2rem;
    color: #ae581b;
  }

  .infoCircles {
    display: flex;

    margin-top: 2rem;
    width: 100%;

    justify-content: center;
    /* border: 2px solid red; */
  }

  .infoCardsSection {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* border: 2px solid black; */
  }

  .blogSection {
    padding: 1rem;
    margin: 3rem 0rem;
    width: 100%;
    /* border: 2px solid black; */
  }
}
