@media screen and (min-width: 951px) {
  .container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    /* border: 2px solid red; */
  }

  .h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #ae581b;
    flex: 1;
    /* border: 2px solid pink; */
  }

  .blogContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    flex: 1;
    /* background-color: #fff; */

    /* border: 2px solid blue; */
  }

  .bigBlogContainer {
    flex: 1;
    display: flex;
    width: 100%;

    align-items: center;

    /* border: 2px solid green; */
  }

  .bigBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    /* border: 2px solid brown; */
  }

  .bigBlogImg {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    /* border: 2px solid brown; */
  }

  .bigBlogImg:hover {
    border: 6px solid #fff;

    cursor: pointer;

    transition: all 0.2s ease-in;
  }

  .smallBlogContainerAndButton {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

    width: 100%;
    position: relative;
  }

  .smallBlogContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    /* border: 2px solid green; */
  }

  .smallBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    flex: 1;
    width: 100%;
    /* border: 2px solid brown; */
  }

  .smallBlogImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    /* border: 2px solid brown; */
  }

  .smallBlogImg:hover {
    border: 6px solid #ffffff;
    cursor: pointer;

    transition: all 0.2s ease-in;
  }

  .blogTitle {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .blogText {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    /* border: 2px solid red; */
  }

  .h3 {
    text-align: center;
    font-size: 2rem;
    color: #ae581b;
  }
  .blogContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    flex: 1;

    /* border: 2px solid blue; */
  }
  .bigBlogContainer {
    flex: 1;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .bigBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 2px solid brown; */
  }
  .bigBlogImg {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    /* border: 2px solid brown; */
  }
  .smallBlogContainerAndButton {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

    width: 100%;
    position: relative;
  }
  .smallBlogContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    /* border: 2px solid green; */
  }
  .smallBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    flex: 1;
    width: 100%;
    /* border: 2px solid brown; */
  }
  .smallBlogImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    /* border: 2px solid brown; */
  }
  .blogTitle {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .blogText {
    font-size: 1rem;
    text-align: center;
  }
}
