.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  border: 2px solid red;
}

.image {
  object-fit: contain;
}

.content {
  border: 2px solid red;
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
}
